<div class="dashboard-wrapper">
  <div class="content-container">
    <% if current_user.workouts.any? && current_user.workout_stage %>
      <%= link_to "Start Workout", workout_session_path, class: "btn-start" %>
    <% else %>
      <h1><center>Add Workouts to begin</center></h1>
    <% end %>
    <hr/>
    <div class="activity-logs">
      <h1>Activity Logs</h1>

      <% current_user.exercise_records.order('created_at DESC').each do |record| %>
      <div class="log">
        <p><em><%= record.created_at.strftime("%B %d, %Y - %H:%M") %></em></p>
        <p><%= record.exercise.name %> <%= record.name %> updated from <%= record.before %> to <%= record.after %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
