<%= form_with model: @workout do |f| %>
  <div class="field">
    <%= f.label "Workout Name" %><br/>
    <%= f.text_field :name, class: "text-input" %>
  </div>
  <div class="field">
    <%= f.label "Workout Order" %><br/>
    <%= f.number_field :rank, class: "text-input" %>
  </div>
  <br/>
  <%= f.submit 'Save Workout', :class => "button" %>
<% end %>
