<div class="modal" id="modal">
  <div class="modal-content">
     <span class="close">&times;</span>
     <%= render "exercises/form", workout_id: @workout.id %>
   </div>
</div>

<script>
  $('.close').click(function(){
    $('#modal').css('display', 'none');
  })
</script>
