<div class="content-container">
    <h1>
      Editing <%= @workout.name %>
      <i class="fa fa-trash float-right" aria-hidden="true"></i>
    </h1>
    <%= render "form" %>
    <%= render "modal" %>
    <div class="exercise-list">
      <h1><%= @workout.name %> Exercises <button id="modalButton" class="float-right">New <i class="fa fa-plus" aria-hidden="true"></i></button></h1>
      <table class="table">
        <thead>
          <tr>
            <td>Exercise</td>
            <td>Reps</td>
            <td>Sets</td>
            <td>Weight</td>
            <td>Time</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
        <% if @workout.exercises.size > 0 %>
          <% @workout.exercises.each do |exercise| %>
            <%= form_with model: exercise do |f| %>
            <tr>
              <td><%= f.text_field :name %></td>
              <td><%= f.text_field :reps %></td>
              <td><%= f.text_field :sets %></td>
              <td><%= f.text_field :weight %></td>
              <td><%= f.text_field :time %></td>
              <td class="table__actions">
                <%= f.button do %>
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
                <% end %>
                <%= link_to exercise_path(exercise.id), method: :delete, data: { confirm: 'Are you sure you want to delete this?'} do %>
                  <i class="fa fa-trash" title="Delete"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
        <% end %>
        <% else %>
          <tr>
            <td colspan="6">No exercises have been added to this workout.</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</div>

<script>
  $(document).ready(function(){
    var modal = $('#modal');

    $('#modalButton').click(function(){
      modal.css('display', 'block');
    })

    $('#editModalButton').click(function(){
      modal.css('display', 'block');
    })
  })

</script>
