<div class="workout-wrapper">
  <div class="content-container">
    <span class="flex">
      <h1 class="">
        My Workouts
        <%= link_to "Create new workout", new_workout_path, class: "button float-right" %>
      </h1>

    <div class="workout-list">
    <% current_user.workouts.each do |workout| %>
      <strong><%= link_to workout.name, edit_workout_path(workout.id) %></strong>

      <ul>
        <% workout.exercises.each do |exercise| %>
        <li><%= exercise.name %></li>
        <% end %>
      </ul>
    <% end %>
    </div>

  </div>
</div>
