<nav class="navbar">
  <ul class="main-navbar content-container">
    <li class="left"><%= link_to "Home", dashboard_path %></li>
    <li class="left"><%= link_to "My Workouts", workouts_path %></li>
    <li class="left"><%= link_to "Progress", workouts_path %></li>
    <li class="left"><%= link_to "Profile", users_edit_path %></li>
    <li class="right"><%= link_to "Sign Out", "#" %></li>
  </ul>
</nav>
