<nav class="navbar">
  <ul class="main-navbar content-container">
    <li class="left"><%= link_to "Home", root_path %></li>
    <li class="left"><%= link_to "Features", "#" %></li>
    <li class="left"><%= link_to "Pricing", "#" %></li>
    <li class="right"><%= link_to "Sign In", login_path %></li>
  </ul>
</nav>
