<div class="content-container">
  <h1>You are on <%= @workout.name %></h1>

  <table class="workout-session">
    <thead>
      <tr>
        <td>Exercise</td>
        <td>Weight</td>
        <td>Time</td>
        <td>Done?</td>
        <td>Update</td>
      </tr>
    </thead>
    <tbody>
    <% @workout.exercises.each do |exercise| %>
      <%= form_with model: exercise do |f| %>
        <tr>
          <td><%= exercise.name %></td>
          <td><%= f.text_field :weight %></td>
          <td><%= f.text_field :time %></td>
          <td><input type="checkbox"></td>
          <td><%= f.submit "Save" %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <%= link_to "Complete Workout", complete_workout_path, class: "btn-start" %>
</div>
