<%= form_with model: @user do |f| %>
  <div class="field">
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name, class: "text-input" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name, class: "text-input" %>
  </div>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, class: "text-input" %>
  </div>

  <%= f.submit "Save" %>
<% end %>
