/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "settings";

/* GENERAL */

 * {
   box-sizing: border-box;
 }

a {
    text-decoration: none;
}

 html {
   font-size: 62.5%;
 }

 body {
   color: $dark-grey;
   font-family: Helvetica, Arial, sans-serif;
   font-size: $m-size;
   line-height: 1.6;
   margin: 0;
 }

 button {
   cursor: pointer;
 }

 button:disabled {
   cursor: default;
 }

 .is-active {
   font-weight: bold;
 }

/* GLOBAL */
.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 80rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
