@import "settings";

// TEXTAREA
.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  padding: $s-size;
  font-weight: 300;
  font-size: $font-large;
  width: 100%;
}

.select {
  @extend .text-input;
}

.text-area {
  @extend .text-input;
  height: 10rem;
}

.field {
  margin-bottom: 2rem;
}

// BUTTON

.button {
  background: $main-blue;
  color: white;
  padding: 1rem;
  border: 0;
  font-weight: 300;
  font-size: $font-large;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

.btn-start {
  @extend .button;
  background: $green;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  display: flex;
  height: 10rem;
  margin-top: 5vh;
  margin: 5vw;
  align-items: center;
  justify-content: center;
}

.button__link {
  background: none;
  color: white;
  border: 0px;
}

.button--secondary {
  background: #888;
}
