// Place all the styles related to the navbar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "settings";

nav {
  background: $main-blue;
}
.main-navbar {
  height: 15vh;
  display:flex;
  list-style-type:none;
  justify-content:flex-end;
  align-items: center;
  padding: $s-size 0;

  a {
    color: white;
  }

  li.left {
    margin-right: 5vw;
  }
  .right {
      margin-left: auto;
  }
}
