// Place all the styles related to the workout_session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.workout-session {
  width: 100%;

  thead td {
    border-bottom: 1px solid black;
  }
}
