// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "settings";
@import "font-awesome";

.exercise-list {
  button {
    margin-top: 1.5rem;
    background: none;
    border: 0px;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    thead tr {
      background-color: #f5f5f5;
    }

    tbody td {
      padding:0px 2px;
      input {
        border: 0px;
        border-bottom: 1px solid #c3c3c3;
        width: 100%;
      }
    }

    .table__actions {
      text-align: center;
      i {
        margin: 0 0.25vw;
      }
    }
  }
}
