<%= form_with model: @exercise do |f| %>
  <h1>New Exercise</h1>

  <div class="field">
    <%= f.label "Exercise Name" %><br/>
    <%= f.text_field :name, class: "text-input" %>
  </div>
  <div class="field">
    <%= f.label "Repetitions" %><br/>
    <%= f.number_field :reps, class: "text-input" %>
  </div>
  <div class="field">
    <%= f.label "Sets" %><br/>
    <%= f.number_field :sets, class: "text-input" %>
  </div>
  <div class="field">
    <%= f.label "Weight" %><br/>
    <%= f.text_field :weight, class: "text-input" %>
  </div>

  <%= f.hidden_field :workout_id, value: workout_id %>

  <%= f.submit "Save", class: "button" %>
<% end %>
