<!DOCTYPE html>
<html>
  <head>
    <title>GymTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= render "menu/dashboard_navbar" %>
    <% else %>
      <%= render "menu/navbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
